body {
  color: black; background-color: white;
  font-size: 100.01%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; padding: 0;
}

body>h1 {
  font-size: 0.8em;
  font-weight: normal;
  color: #ffcc00;
  margin: 0 0 0.7em; padding: 0.3em;
  text-align: left;
  background-color: #008000;
  border-bottom:7px solid #ffcc00;
}

a {
  color: #008000;
}

div#Navigation {
  font-size: 0.88em;
  float: left; width: 13em;
  margin: 0; padding: 0;
  margin-left:0.5em;
  white-space:nowrap;
}

div#Navigation h1 {
  border-bottom:1px solid black;
  font-size:100%;
}

div#Navigation div {
  list-style: none;
  margin: 0; padding: 0.15em;
}
div#Navigation>a, div#Navigation>span {
  display: block;
  padding: 0 0.5em;
  font-weight: normal;
}

div#Navigation .current {
  font-weight: bold;
  color: #008000;
}

div#Navigation>a {
  text-decoration: none;
  color: #008000;
  background-color: white;
}

div#Navigation>a:hover, div#Navigation>a:focus {
  text-decoration: none;
  background-color: #ffcc00;
}
div#Navigation>a:active {
  text-decoration: none;
  color: white;
  background-color: white;
}

form#Login {
  display: table;
  margin: 0 auto;
}

form#Login div {
  display: table-row;
}

form#Login div span {
  display: table-cell;
  padding:1px;
}

form#Login div span#submit {
  text-align:right;
}

form#Login input[type=text],input[type=password] {
  width: 6em;
  font-size:1.0em;
  height:1.2em;
  border:1px solid #008000;
}

form#Login input[type=submit] {
  height:1.5em;
}

div#Content {
  margin-left: 12em;
  padding: 0 1em;
  border: none;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}
div#Content h1 {
  font-size: 1.5em;
  margin: 1em 0 0.2em;
}
div#Content h2 {
  font-size: 1.2em;
  margin: 0.5em 0 0.2em;
}
div#Content p {
  font-size:1em;
}

div#Footer {
  clear:both;
  border-top:3px solid #ffcc00;
  color:#ffcc00;
  background-color:#008000;
  text-align:right;
  font-size:0.8em;
  padding:4px;
}

div#Footer a {
  color:#ffcc00;
  text-decoration:none;
}

div#Footer a:hover,div#Footer a:focus {
  color:#ffcc00;
  text-decoration:underline;
}

/* Kalender */

table.seitenumschalter {
 padding:6px;
 margin:auto auto;
}

table.seitenumschalter a {
  text-decoration:none;
}

table.seitenumschalter a:hover {
  text-decoration:none;
  background-color:#ffcc00;
}

table.termintabelle {
  font-size:1.0em;
  margin:auto auto;
}

table.termintabelle .datum {
  font-weight:bold;
}

table.termintabelle .zeit,.ort {
  font-size: 0.7em;
}

table.termintabelle .verein {
  font-weight:bold;
}

table.termintabelle .beschreibung {
  padding-bottom: 1em;
}

table.termintabelle .trenner {
  text-align: left;
  font-weight:bold;
  font-size:1.1em;
  color:#008000;
  border-bottom:3px solid #ffcc00;
}

table.termintabelle .linkespalte {
  width:8em;
}

table.termintabelle .rechtespalte {
  width:25em;
}
