<script type="text/javascript">
<!--
function toggleall(allbox, boxes)
{
    for(var i = 0; i <= boxes.length; i++)
    {
        boxes[i].checked = allbox.checked;
    }
}

function toggleallbox(allbox, boxes)
{
    var checked = true;

    for(var i = 0; i < boxes.length; i++)
    {
        if(!boxes[i].checked)
        {
            checked = false;
            break;
        }
    }

    allbox.checked = checked;
}
-->
</script>

<form action="index.pl" method="POST">
<input type="hidden" name="mode" value="delete">
<table width="100%">
 <colgroup>
   <col width="150">
   <col>
   <col width="150">
 </colgroup>

<TR>
<TD colspan="3" align="right">
<input type="submit" value="Markierte Löschen"></TD>
</TR>

<TR>
<TD colspan="3"><hr size="2" noshade></TD>
</TR>

<TMPL_LOOP NAME=List>
<tr>
<td rowspan="3">
<B><TMPL_VAR NAME=Date></B><BR>
<span class="smallfont"><TMPL_VAR NAME=Time>&nbsp;<TMPL_VAR NAME=Place></span><BR>
<TMPL_IF NAME=Public>
<FONT color="#008000">öffentlich</font>
<TMPL_ELSE>
<FONT color="#FF0000">intern</FONT>
</TMPL_IF>
</td>
<td><B><TMPL_VAR NAME=Org></B></td>
<td rowspan="3">

 <table>
  <tr>
  <td width="20">&nbsp;</td>
  <td><a href="index.pl?mode=edit&EntryID=<TMPL_VAR NAME=EntryID>">Bearbeiten</a></td>
  </tr>
  <tr>
  <td><input type="checkbox" name="EntryID" value="<TMPL_VAR NAME=EntryID>"<TMPL_IF NAME=IsOver> checked</TMPL_IF>></td>
  <td>Löschen</td>
  </tr>
 </table>

</td>
</tr>

<tr><td><TMPL_VAR NAME=Title></td></tr>
<tr><td><TMPL_VAR NAME=Desc></td></tr>

<tr>
<td colspan="3"><hr size="2" noshade></TD>
</tr>
</TMPL_LOOP>

<TR>
<TD colspan="3" align="right">
<input type="submit" value="Markierte Löschen"></TD>
</TR>
</table>
</form>

<br>

<form action="" method="POST">
<table align="center" width="400">
<tr>
<td>
Nur Termine folgender Vereine anzeigen:
<ul style="list-style-type:none;">
<li><input type="checkbox" name="showall" onclick="javascript:toggleall(this, this.form.ShowOrg)"><b>Alle</b></li>
<TMPL_LOOP NAME=Orgs>
<li>
<input onclick="javascript:toggleallbox(this.form.showall, this.form.ShowOrg)" type="checkbox" name="ShowOrg" value="<TMPL_VAR NAME=OrgID>"<TMPL_IF NAME=selected> checked</TMPL_IF>>
<TMPL_VAR NAME=OrgName></li>
</TMPL_LOOP>
</ul>
<input type="hidden" name="mode" value="list">
</td>
</tr>
<tr>
<td align="right">
<input type="submit" value="Anzeigen">
</td>
</tr>
</table>
</form>
