<TMPL_IF Error>
<p class="error">Der termin konnte nicht gespeichert werden.
Bitte Admin via Mail <a href="mailto:ch&#x0040;goessenreuth.de">ch&#x0040;goessenreuth.de</a> informieren!</p>
</TMPL_IF>
<TMPL_IF DateError>
<p class="error">Das Datum ist Fehlerhaft.</p>
</TMPL_IF>
<TMPL_IF TimeError>
<p class="error">Die Zeit ist Fehlerhaft.</p>
</TMPL_IF>
<TMPL_IF TitleError>
<p class="error">Der Titel darf nicht leer sein.</p>
</TMPL_IF>


<form action="webeve.pl" method="POST">
<table align="center">
<tr>
<td colspan="2"><b>Verein</b></td>
</tr>

<tr>
<td>
  <SELECT NAME="OrgID" SIZE="1">
  <TMPL_LOOP Orgs>
  <TMPL_IF selected>
    <OPTION VALUE="<TMPL_VAR NAME=OrgID>" selected><TMPL_VAR OrgName></OPTION>
  <TMPL_ELSE>
  <OPTION VALUE="<TMPL_VAR NAME=OrgID>"><TMPL_VAR OrgName></OPTION>
    </TMPL_IF>
  </TMPL_LOOP>
  </SELECT>
</td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td colspan="2"><b>Kategorie</b></td>
</tr>
<tr>
<td>
<TMPL_IF Public>
<input type="radio" name="Public" value="0"> Intern<br>
<input type="radio" name="Public" value="1" checked> Öffentlich
<TMPL_ELSE>
<input type="radio" name="Public" value="0"checked> Intern<br>
<input type="radio" name="Public" value="1"> Öffentlich
</TMPL_IF>
</td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td><b>Datum</b></td>
<td rowspan="2" class="smallfont">
<b>Beispiele:</b><br>
3-10-02 =&gt; 3.Oktober 2002<br>
3-10- =&gt; Nächster 3. Oktober<br>
10-02 =&gt; Oktober 2002<br>
10 =&gt; Nächster Oktober
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><input type="text" name="Date" value="<TMPL_VAR Date>" size="8" maxlength="10"></td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td colspan="2"><b>Uhrzeit</b> (optional)</td>
</tr>
<tr>
<td><input type="text" name="Time" value="<TMPL_VAR Time>" size="5" maxlength="5"></td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td colspan="2"><b>Ort</b> (optional)</td>
</tr>
<tr>
<td><input type="text" name="Place" value="<TMPL_VAR Place>" size="43"></td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td colspan="2"><b>Titel</b></td>
</tr>
<tr>
<td><input type="text" name="Title" value="<TMPL_VAR Title>" size="43"></td>
</tr>

<tr>
<td colspan="2">&nbsp;</td>
</tr>

<tr>
<td colspan="2"><b>Beschreibung</b> (optional)</td>
</tr>
<tr>
<td>
<textarea name="Description" rows="6" cols="43" wrap="virtual"><TMPL_VAR Description></textarea>
<span class="smallfont">
<br><b>Hinweise:</b><br>
HTML ist erlaubt, aber bitte <b>KEINE</b> Grafiken oder blinkenden Text!<br>
Wichtige HTML-Tags:<br>
&lt;b&gt;<b>was hier steht wird fett</b>&lt;/b&gt;<br>
&lt;br&gt;: damit macht man einen Zeilenum<b>br</b>uch
</span>
</td>
</tr>

<tr>
<td colspan="2" align="right">
<input type="hidden" name="Action" value="Save">
<input type="hidden" name="mode" value="edit">
<input type="hidden" name="EntryID" value="<TMPL_VAR EntryID>">
<input type="submit" value="Speichern">
</td>
</tr>
</table>
</form>
