<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Webeve</title>
    <link rel="stylesheet" type="text/css" href="../default.css"/>
  </head>
  <body>
    <h1>Webeve</h1>

    <ul id="Navigation">
      <tmpl_loop menu>
	<tmpl_if Current>
	  <li class="current"><tmpl_var escape=html Title>
        <tmpl_else>
	  <li><a href="<tmpl_var FileName>"><tmpl_var escape=html Title></a>
	</tmpl_if>
	<tmpl_if SubLevel>
	    <ul>
	      <tmpl_loop SubLevel>
		<tmpl_if Current>
		  <li class="current"><tmpl_var escape=html Title></li>
		  <tmpl_else>
		    <li><a href="<tmpl_var FileName>"><tmpl_var escape=html Title></a></li>
		  </tmpl_if>
		</tmpl_loop>
	      </ul>
	</tmpl_if>
      </li>
      </tmpl_loop>

      <li>	
	<form id="Login" action="webeve.pl" method="get">
	  <div><span>Login:</span>
	  <span><input type="text" name="User" value="" /></span></div>
	  <div><span>Password:</span>
	  <span><input type="password" name="Password" value="" /></span></div>
	  <div><span><input type="hidden" name="mode" value="login" /></span>
	  <span id="submit"><input type="submit" value="Login" /></span></div>
	</form>
      </li>
    </ul>
	  
    <div id="Content">
      <tmpl_var content>
    </div>
	  
  </body>
</html>