<!-- http://www.goessenreuth.de - Der Veranstaltungskalender für den Raum Bayreuth, Kulmbach, Hof -->
<TMPL_IF Dates>
<!-- ++++++++++++++++++ Seitenumschalter +++++++++++++++++++ -->
<table align="center" class="seitenumschalter">
<tr>
<td align="center">
Seite <b><TMPL_VAR CurrentPage></b> von <b><TMPL_VAR PageCount></b><br>
<TMPL_IF PrevPage><a href="<TMPL_VAR PrevPageURL>">&lt; Vorhergehende</a>&nbsp;</TMPL_IF>
<TMPL_LOOP Pages>
<TMPL_IF IsCurrent>
<b><TMPL_VAR Page></b><TMPL_UNLESS __LAST__> | </TMPL_UNLESS>
<TMPL_ELSE>
<a href="<TMPL_VAR PageURL>"><TMPL_VAR Page></a><TMPL_UNLESS __LAST__> | </TMPL_UNLESS>
</TMPL_IF>
</TMPL_LOOP>
<TMPL_IF NextPage>&nbsp;<a href="<TMPL_VAR NextPageURL>">Nächste &gt;</a></TMPL_IF>
</td>
</tr>
</table>
<!-- ++++++++++++++++ Seitenumschalter Ende +++++++++++++++++ -->

<table align="center" class="termintabelle">
<TMPL_LOOP Dates>

<TMPL_IF Header>
<TMPL_UNLESS __FIRST__>
<tr><td colspan="2">&nbsp;</td></tr>
</TMPL_UNLESS>
  <tr class="trenner">
    <td colspan="2">
      <TMPL_VAR Header>
    </td>
  </tr>
</TMPL_IF>

<tr align="left" valign="top" class="zeile">
<td width="122" class="linkespalte"><span class="datum"><TMPL_VAR NAME=Date></span>
<TMPL_IF NAME=Date><br></TMPL_IF>
<span class="zeit"><TMPL_VAR NAME=Time></span> <span class="ort"><TMPL_VAR NAME=Place></span></td>

<td width="391" class="rechtespalte">
<TMPL_IF NAME=Website>
<a href="http://<TMPL_VAR NAME=Website>" target="_newwindow_" class="verein"><TMPL_VAR NAME=Org></a>
<TMPL_ELSE>
<span class="verein"><TMPL_VAR NAME=Org></span>
</TMPL_IF>

<TMPL_IF NAME=Org><br></TMPL_IF>


<span class="beschreibung"><TMPL_VAR NAME=Desc></span>
</td>
</tr>
</TMPL_LOOP>
<tr><td colspan="2">&nbsp;</td></tr>
</table>

<!-- ++++++++++++++++++ Seitenumschalter +++++++++++++++++++ -->
<table align="center" class="seitenumschalter">
<tr>
<td align="center">
Seite <b><TMPL_VAR CurrentPage></b> von <b><TMPL_VAR PageCount></b><br>
<TMPL_IF PrevPage><a href="<TMPL_VAR PrevPageURL>">&lt; Vorhergehende</a>&nbsp;</TMPL_IF>
<TMPL_LOOP Pages>
<TMPL_IF IsCurrent>
<b><TMPL_VAR Page></b><TMPL_UNLESS __LAST__> | </TMPL_UNLESS>
<TMPL_ELSE>
<a href="<TMPL_VAR PageURL>"><TMPL_VAR Page></a><TMPL_UNLESS __LAST__> | </TMPL_UNLESS>
</TMPL_IF>
</TMPL_LOOP>
<TMPL_IF NextPage>&nbsp;<a href="<TMPL_VAR NextPageURL>">Nächste &gt;</a></TMPL_IF>
</td>
</tr>
</table>
<!-- ++++++++++++++++ Seitenumschalter Ende +++++++++++++++++ -->
<TMPL_ELSE>
<table align="center" class="termintabelle">
<tr><td>
Keine Termine vorhanden.
</td></tr>
</table>
</TMPL_IF>
<!-- Ende des Terminkalenders -->