<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><tmpl_var title></title>
  <style type="text/css">
  <!--
<tmpl_if css>
    <tmpl_var css>
<tmpl_else>
    @import "css/eventlist.css";

    body {
      color:black;
      background-color:white;
      font-size:100.01%;
      font-family:Helvetica,Arial,sans-serif;
      margin:0;
      padding:0;
    }

    h1 {
      font-size:110%;
      font-weight:bold;
      color: #ffcc00;
      margin:0 0 0.7em;
      padding:0.3em;
      text-align:left;
      background-color:#008000;
      border-bottom:7px solid #ffcc00;
    }

    div#Footer {
      clear:both;
      border-top:3px solid #ffcc00;
      color:#ffcc00;
      background-color:#008000;
      text-align:right;
      font-size:0.8em;
      padding:4px;
    }

    div#Footer a {
      color:#ffcc00;
      text-decoration:none;
    }
    
    div#Footer a:hover,div#Footer a:focus {
      color:#ffcc00;
      text-decoration:underline;
    }
</tmpl_if>
  -->
  </style>
</head>
<body>
  <h1><tmpl_var title></h1>
  <tmpl_var eventlist>
  <div id="Footer">&copy; 2001&ndash;2010 <a href="http://www.webeve.de" target="_blank">www.webeve.de</a></div>
</body>
</html>
