<html>

<head>
<TMPL_IF Intern>
<title><TMPL_VAR Vereinsname>: Interne Termine</title>
<TMPL_ELSE>
<title><TMPL_VAR Vereinsname><TMPL_IF Vereinsname>:</TMPL_IF> Alle Termine</title>
</TMPL_IF>
  <style type="text/css">
  <!--

    body       {
    <TMPL_IF font>font:<TMPL_VAR font>;<TMPL_ELSE>font:Arial;</TMPL_IF>
    <TMPL_IF bgimage>background-image:url(<TMPL_VAR bgimage>);</TMPL_IF>
    <TMPL_IF bgcolor>background-color:<TMPL_VAR bgcolor>;<TMPL_ELSE>background-color:#ACD6E6;</TMPL_IF>
    <TMPL_IF textcolor>color:<TMPL_VAR textcolor>;<TMPL_ELSE>color:#000080;</TMPL_IF>
    }

    a                 {
    <TMPL_IF linkcolor>color:<TMPL_VAR linkcolor>;<TMPL_ELSE>color:#000080;</TMPL_IF>
    }

    /* Formate für die Terminliste */
    .termintabelle    { padding:3px;
    <TMPL_IF font>font:<TMPL_VAR font>;
       <TMPL_ELSE>font:Arial;</TMPL_IF>
     }
    .seitenumschalter { margin-top:10px;
    <TMPL_IF font>font:<TMPL_VAR font>;
       <TMPL_ELSE>font:Arial;</TMPL_IF>
     }

    .datum            { font-weight:bold; }
    .zeit             { font-size:70%; }
    .ort              { font-size:70%; }
    .verein           { font-weight:bold; }
    .beschreibung     { }
    
    .trenner          { 
    <TMPL_IF tl-bgcolor>
                        background-color:<TMPL_VAR tl-bgcolor>;
    <TMPL_ELSE>
                        background-color:#FFFFDE;
    </TMPL_IF>
    <TMPL_IF tl-textcolor>
                        color:<TMPL_VAR tl-textcolor>;
    <TMPL_ELSE>
                        color:#000000;
    </TMPL_IF>
                        font-weight:bold; }

    .linkespalte      {}
    .rechtespalte     {}
  -->
  </style>
</head>

<body>

<TMPL_IF Intern>
<h1 align="center"><TMPL_VAR Vereinsname>: Interne Termine</h1>
<!--
<center>
<a href="kalender.pl?Ansicht=Druck&Intern=Intern&Verein=<TMPL_VAR VereinsID>">Druckansicht</a> -
<a href="kalender.pl?Ansicht=wap&Intern=Intern&Verein=<TMPL_VAR VereinsID>">WAP-Ansicht</a>
</center>
-->
<TMPL_ELSE>
<h1 align="center">Alle Termine</h1>
<!--
<center>
<a href="kalender.pl?Ansicht=Druck">Druckansicht</a> -
<a href="kalender.pl?Ansicht=wap">WAP-Ansicht</a>
</center>
-->
</TMPL_IF>

<TMPL_VAR Terminliste>

<br>
<center>Dieser Kalender stammt von <a href="http://www.goessenreuth.de" target="_blank">www.goessenreuth.de</a></center>
</body>

</html>
