<TMPL_IF WrongPasswd>
<p class="error">Passwort oder Username ist falsch!</p>
</TMPL_IF>

<TMPL_IF NoCookies>
<p class="error">Bei Deinem Browser sind Cookies deaktiviert!<br>
Um Dich hier einloggen zu können müssen Cookies aktiviert sein.<br>
<a href="../cookies.html">Hilfe</a> zum Thema &quot;Cookies&quot;</p>
</TMPL_IF>

<TMPL_IF User>
<p class="warn">Du bist bereits als &quot;<TMPL_VAR NAME=User>&quot; eingeloggt.</p>
</TMPL_IF>

<table align="center">
<tr><td align="center">

<TMPL_IF User>
Du kannst entweder ...
<ul>
<li>Dich als jemand anderes einloggen</li>
<li>direkt weitergehen zur <a href="webeve.pl?mode=list">Terminübersicht</a></li>
<li>Dich <a href="webeve.pl?mode=logout">ausloggen</a></li>
</ul>
</TMPL_IF>

<TMPL_IF WrongPasswd>
Probiers nochmal und achte auf eine evtl. aktive FESTSTELLTASTE!
</TMPL_IF>

<TMPL_UNLESS User>
<TMPL_UNLESS WrongPasswd>
<TMPL_UNLESS NoCookies>
<b>Der Browser muß Cookies akzeptieren damit der Login funktioniert!</b>
</TMPL_UNLESS>
</TMPL_UNLESS>
</TMPL_UNLESS>

</td></tr>
</table>
<br>

<form action="webeve.pl" method="POST">
<table align="center">
<tr>
<td>Username:</td>
<td><input type="text" name="User" value="" tabindex="1"></td>
<td></td></tr>
<tr>
<td>Passwort:</td>
<td><input type="password" name="Password" tabindex="2"></td>
<td>
<input type="hidden" name="mode" value="login">
<input type="submit" value="Log in" tabindex="3"></td></tr>
</table>
</form>

