Hallo <tmpl_var name>.

Für Dich wurde ein Account zum Eintragen von Terminen in den Web-Terminkalender auf www.goessenreuth.de eingerichtet.

Zum Einloggen ruf' die Adresse

    http://www.goessenreuth.de/index.php?p=Termine

auf und klicke links oben auf den Link 'Termine eintragen', woraufhin eine Login-Seite erscheint. 

Dort benutze folgende Daten:

   Username: <tmpl_var login>
   Passwort: <tmpl_var password>

Die weitere Bedienung sollte selbsterklärend sein.

Bei weiteren Fragen wende Dich bitte direkt an mich.

Grüße,
Christopher Hofmann
