Hallo <tmpl_var name>.

Für Dich wurde ein Account zum Eintragen von Terminen in den Web-Terminkalender WebEve eingerichtet.

Zum Einloggen ruf' die Adresse

    http://www.webeve.de

und benutze dort folgende Daten zum Login:

   Username: <tmpl_var login>
   Passwort: <tmpl_var password>

Die weitere Bedienung sollte selbsterklärend sein.

Bei weiteren Fragen wende Dich bitte direkt an mich.

Grüße,
Christopher Hofmann
