<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Webeve - <tmpl_var title></title>
    <link rel="stylesheet" type="text/css" href="../default.css"/>
  </head>
  <body>
    <h1><img src="../webeve.png" alt="Webeve"/>
      <span style="position:relative;bottom:0.4em;left:0.5em;">Der EventKalender für Oberfranken</span>
    </h1>
    <div id="Navigation">
      <tmpl_loop menu>
	<tmpl_if Current>
	  <span class="current"><tmpl_var escape=html Title> &raquo;</span>
        <tmpl_else>
	  <tmpl_if FileName>
	    <a href="<tmpl_var FileName>"><tmpl_var escape=html Title></a>
	  <tmpl_else>
    	    <h1><tmpl_var escape=html Title></h1>
	  </tmpl_if>
	</tmpl_if>
	<tmpl_if SubLevel>
	      <tmpl_loop SubLevel>
        	<tmpl_if Current>
        	  <span class="current"><tmpl_var escape=html Title> &raquo;</span>
                <tmpl_else>
        	  <tmpl_if FileName>
        	    <a href="<tmpl_var FileName>"><tmpl_var escape=html Title></a>
        	  <tmpl_else>
            	    <h1><tmpl_var escape=html Title></h1>
        	  </tmpl_if>
        	</tmpl_if>
	      </tmpl_loop>
	</tmpl_if>
      </tmpl_loop>

      <tmpl_if UserName>
        <h1>Eingeloggt</h1>
        <div>
          <tmpl_var UserName> (<a href="?mode=logout">Abmelden</a>)<br/>
          <tmpl_var FullName><br/>
          <tmpl_if isAdmin>Administrator<br/></tmpl_if>
        </div>
      <tmpl_else>
        <h1>Einloggen</h1>
        <div>	
  	  <form id="Login" method="post">
  	    <div><span>Benutzer:</span>
  	    <span><input type="text" name="User" value="" /></span></div>
  	    <div><span>Password:</span>
  	    <span><input type="password" name="Password" value="" /></span></div>
  	    <div><span><input type="hidden" name="mode" value="login" /></span>
  	    <span id="submit"><input type="submit" value="Login" /></span></div>
  	  </form>
	  <script type="text/javascript">
            if(navigator.cookieEnabled == false) {
              document.write("Login benötigt Cookies!");
            }
          </script>
        </div>
      </tmpl_if>
    </div>
	  
    <div id="Content">
      <tmpl_var content>
    </div>
	  
  </body>
</html>
