<h1>Existierende Vereine:</h1>

<TABLE BORDER="0" ALIGN="CENTER" CELLPADDING="4" CELLSPACING="0" width="95%">
<tr>
<td><b>Name</b></td>
<td align="center"><b>eMail &amp; Website</b></td>
<td>&nbsp;</td>
</tr>

<TR>
<TD colspan="5"><hr size="1" color="#000000" noshade></TD>
</TR>

<TMPL_LOOP NAME=Orgs>
<tr>
<td><b><TMPL_VAR NAME=OrgName></b></td>
<td align="center">
<TMPL_IF eMail>
<a href="mailto:<TMPL_VAR NAME=eMail>"><img src="../kmail.png" border="0"></a>
</TMPL_IF>
<TMPL_IF Website>
<a href="http://<TMPL_VAR NAME=Website>" target="Website"><img src="../konqueror.png" border="0"></a>
</TMPL_IF>
</td>
<td><a href="index.pl?mode=orgedit&OrgID=<TMPL_VAR NAME=OrgID>"><font FACE="Arial, Helvetica">Bearbeiten</font></a></td>
</tr>
<TR>
<TD colspan="4"><hr size="1" color="#000000" noshade></TD>
</TR>
</TMPL_LOOP>

</table>
