<!-- Last Updated: 2003-08-22 -->

<p>
Hier kann das Aussehen des Kalenders an die eigenen Wünsche angepasst werden.<br>
Zum Verändern der Farben sind HTML üblichen <a href="http://selfhtml.teamone.de/html/allgemein/farben.htm#hexadezimal" target="_new">Farbangaben</a> erlaubt. Für das Hintergrundbild ist die vollständige URL des Bildes anzugeben. Die Bilddatei kann nicht heraufgeladen werden, sondern muß auf einer eigenen Homepage liegen.<br>
Sollten weitere Einstellmöglichkeiten gewünscht werden, dann bitte <a href="mailto:ch@goessenreuth.de">bei mir melden</a>. 
</p>

<form action="index.pl" method="POST">
<input type="hidden" name="OrgID" value="<TMPL_VAR OrgID>">
<input type="hidden" name="mode" value="config">
<input type="hidden" name="action" value="save">
<table align="center">
<tr>
<td>Hintergrundfarbe</td><td><input type="text" name="bgcolor" value="<TMPL_VAR bgcolor>" size="10"></td>
</tr>
<tr>
<td>Hintergrundbild</td><td><input type="text" name="bgimage" value="<TMPL_VAR bgimage>" size="10"></td>
</tr>
<tr>
<td>Textfarbe</td><td><input type="text" name="textcolor" value="<TMPL_VAR textcolor>" size="10"></td>
</tr>
<tr>
<td>Linkfarbe</td><td><input type="text" name="linkcolor" value="<TMPL_VAR linkcolor>" size="10"></td>
</tr>
<tr>
<td>Schriftart</td><td><input type="text" name="font" value="<TMPL_VAR font>" size="10"></td>
</tr>
<tr>
<td>Monatstrenner Hintergrundfarbe</td><td><input type="text" name="tl-bgcolor" value="<TMPL_VAR tl-bgcolor>" size="10"></td>
</tr>
<tr>
<td>Monatstrenner Textfarbe</td><td><input type="text" name="tl-textcolor" value="<TMPL_VAR tl-textcolor>" size="10"></td>
</tr>
<tr>
<td></td><td align="right"><input type="submit" value="Speichern"></td>
</tr>
</table>
</form>

<p>
<b>Hinweis:</b><br>
Wenn bereits ein eigenes Template heraufgeladen wurde, bewirken Veränderungen an dieser Stelle nichts. Soll das eigene Template verändert werden, dann bitte einfach <a href="mailto:ch@goessenreuth.de">bei mir melden</a>. 
</p>

<!--

<TMPL_IF SimpleSaved>
<p class="ok">Template wurde gespeichert.</p>
</TMPL_IF>
<TMPL_IF SimpleNotSaved>
<p class="error">Template konnte nicht gespeichert werden.</p>
<b>Bitte Mail an <a href="mailto:ch&#x0040;goessenreuth.de">ch&#x0040;goessenreuth.de</a>!</b>
</TMPL_IF>

<TMPL_IF AdvancedSaved>
<p class="ok">Erweitertes Template wurde gespeichert.</p>
</TMPL_IF>
<TMPL_IF AdvancedNotSaved>
<p class="error">Erweitertes Template konnte nicht gespeichert werden.</p>
<b>Bitte Mail an <a href="mailto:ch&#x0040;goessenreuth.de">ch&#x0040;goessenreuth.de</a>!</b>
</TMPL_IF>

<TMPL_IF Error>
<p class="error"><TMPL_VAR Error></p>
</TMPL_IF>

<form action="tmpl-upload.pl" enctype="multipart/form-data" method="POST">
  <table border="0" cellpadding="3" cellspacing="0" align="center">
  <tr>
    <td>Template für</td>
    <td>
      <b><TMPL_VAR NAME=OrgName></b>
    </td>
  </tr>
  <tr>
    <td>Templatedatei:</td>
    <td><input type="file" size="30" maxlength="20000" name="simple" accept="text/*"></td>
  </tr>

  <tr>
    <td>Erweitertes Template:</td>
    <td><input type="file" size="30" maxlength="20000" name="advanced" accept="text/*"></td>
  </tr>

  <tr>
    <td align="right" colspan="2"><input type="submit" name="Action" value="Speichern"></td>
  </tr>
  </table>
</form>

<br>

<table border="0" cellpadding="4" cellspacing="0" align="center" width="75%">
  <tr>
    <td colspan="2" bgcolor="#ee9c59">
       <h1>Anleitung:</h1>
       <p>Das Aussehen des Terminkalenders kannst Du mit grundlegenden
    	HTML-Kenntnissen relativ einfach an die eigenen Wünsche anpassen.
    	Dazu mußt Du nur hier eine Template-Datei (Template = Vorlage)
    	heraufladen. Ein Template sieht aus wie eine normale HTML-Datei nur, daß
    	zusätzlich noch die folgenden Tags verwendet werden:
    	<ul>
    	<li>&lt;TMPL_VAR Vereinsname&gt;<br>
            Wird in der Anzeige durch den im Kalender hinterlegten Vereinsnamen ersetzt</li>
    	<li>&lt;TMPL_VAR VereinsID&gt;<br>
            Wird in der Anzeige durch die Vereinsnummer (siehe die Liste unten) ersetzt.</li>
    	<li>&lt;TMPL_VAR Terminliste&gt;<br>
            Wird in der Anzeige durch die Liste der Termine ersetzt</li>
        <li>Durch folgendes Konstrukt kann man eine Fallunterscheidung für die interne und
            öffentliche Terminansicht erreichen:<br>
            &lt;TMPL_IF Intern&gt;<br>
                Nur in interner Ansicht sichtbar<br>
            &lt;TMPL_ELSE&gt;<br>
                Nur in externer Ansicht sichtbar<br>
            &lt;/TMPL_IF&gt;<br>
        </ul>
       </p>

       <p>Die Gestaltung der Terminliste erfolgt über Style-Sheets in diesem Template.

        In der Termintabelle sind die folgenden Klassen definiert:
        <ul>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        </ul>

        </p>

       <p>Hier gibt es ein funktionierendes <a href="http://www.bnbt.de/~tr1138/bvg/kalender-example.tmpl">
	Beispieltemplate</a> zum herunterladen, das nach eigenen Wünschen
	gestaltet werden kann. (Auf den Link rechtsklicken und "Speichern unter
	..." auswählen)</p>
	<hr noshade size="1" color="#000000">

       <p>Um alle öffentlichen Termine mit Deinem eigenen Template anzuzeigen, mußt Du
	auf diese URL verlinken:<br>
	<b>http://www.bnbt.de/~tr1138/cgi-bin/kalender.pl?Verein=<font color="#ff0000">X</font></b><br>
	Für die für Deinen Verein als nichtöffentlich markierten Termine verwende diese URL:<br>
	<b>http://www.bnbt.de/~tr1138/cgi-bin/kalender.pl?Verein=<font color="#ff0000">X</font>&Intern=Intern</b><br>
	wobei <font color="#ff0000"><b>X</b></font> durch folgende Zahl zu ersetzen ist:<br>
	<ul>
          <TMPL_LOOP NAME=Orgs>
	    <li>für <TMPL_VAR NAME=OrgName>: <TMPL_VAR NAME=OrgID></li>
          </TMPL_LOOP>
	</ul>
       </p>
    </td>
  </tr>
</table> 
-->