<b>User:</b><TMPL_VAR NAME=FullName><br>
<table align="center" border="1">
<tr>
<td>Login-Name:</td><td><input type="TEXT" name="UserName" value="<TMPL_VAR NAME=UserName>"></td>
</tr>
<tr>
<td>Voller Name:</td><td><input type="TEXT" name="FullName" value="<TMPL_VAR NAME=FullName>"></td>
</tr>
<tr>
<td>eMail:</td><td><input type="TEXT" name="eMail" value="<TMPL_VAR NAME=eMail>"></td>
</tr>
<tr>
<td>Letzter Login:</td><td><TMPL_VAR NAME=LastLogin></td>
</tr>
</table>
