<TMPL_IF Saved>
<p class="ok">Der folgende Termin wurde gespeichert:</p>
    <table align="center">
    <tr>
    <td rowspan="3">
    <B><TMPL_VAR NAME=SvDate></B><BR>
    <span class="smallfont"><TMPL_VAR NAME=SvTime>&nbsp;<TMPL_VAR NAME=SvPlace></span><BR>
    <TMPL_IF NAME=SvPublic>
    <FONT color="#008000">öffentlich</font>
    <TMPL_ELSE>
    <FONT color="#FF0000">intern</FONT>
    </TMPL_IF>
    </td>
    <td><B><TMPL_VAR NAME=SvOrgName></B></td>
    <td rowspan="3">
     <table>
      <tr>
      <td width="20">&nbsp;</td>
      <td><a href="index.pl?mode=edit&EntryID=<TMPL_VAR NAME=SvEntryID>">Bearbeiten</a></td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td><a href="index.pl?mode=delete&EntryID=<TMPL_VAR NAME=SvEntryID>">Löschen</a></td>
      </tr>
     </table>
    </td>
    </tr>
    <td><B><TMPL_VAR NAME=SvTitle></B></td>
    <tr><td><TMPL_VAR NAME=SvDescription></td></tr>
    </table>
    <hr size="1" color="#000000" noshade>
    <h2>Weiteren Termin hinzufügen:</h2><br>
</TMPL_IF>

<TMPL_IF Error>
<p class="error">Der termin konnte nicht gespeichert werden.
Bitte Admin via Mail <a href="mailto:ch&#x0040;goessenreuth.de">ch&#x0040;goessenreuth.de</a> informieren!</p>
</TMPL_IF>
<TMPL_IF DateError>
<p class="error">Das Datum ist Fehlerhaft.</p>
</TMPL_IF>
<TMPL_IF TimeError>
<p class="error">Die Zeit ist Fehlerhaft.</p>
</TMPL_IF>
<TMPL_IF TitleError>
<p class="error">Der Titel darf nicht leer sein.</p>
</TMPL_IF>


<form action="index.pl" method="POST">
<input type="hidden" name="mode" value="add">
<table align="center">
<tr>
<td colspan="3"><b>Verein</b></td>
</tr>

<tr>
<td colspan="2">
  <SELECT NAME="OrgID" SIZE="1">
  <TMPL_LOOP Orgs>
  <TMPL_IF selected>
    <OPTION VALUE="<TMPL_VAR NAME=OrgID>" selected><TMPL_VAR OrgName></OPTION>
  <TMPL_ELSE>
  <OPTION VALUE="<TMPL_VAR NAME=OrgID>"><TMPL_VAR OrgName></OPTION>
    </TMPL_IF>
  </TMPL_LOOP>
  </SELECT>
</td>
<td>
<input type="Checkbox" name="KeepOrg" value="1" <TMPL_IF KeepOrg>checked</TMPL_IF>>Beibehalten
</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3"><b>Kategorie</b></td>
</tr>
<tr>
<td colspan="2">
<TMPL_IF Public>
<input type="radio" name="Public" value="0"> Intern<br>
<input type="radio" name="Public" value="1" checked> Öffentlich
<TMPL_ELSE>
<input type="radio" name="Public" value="0"checked> Intern<br>
<input type="radio" name="Public" value="1"> Öffentlich
</TMPL_IF>
</td>
<td>
<input type="Checkbox" name="KeepPublic" value="1" <TMPL_IF KeepPublic>checked</TMPL_IF>>Beibehalten
</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td><b>Datum</b></td>
<td rowspan="2" class="smallfont">
<b>Beispiele:</b><br>
3-10-02 =&gt; 3.Oktober 2002<br>
3-10- =&gt; Nächster 3. Oktober<br>
10-02 =&gt; Oktober 2002<br>
10 =&gt; Nächster Oktober
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><input type="text" name="Date" value="<TMPL_VAR Date>" size="8" maxlength="10"></td>
<td><input type="Checkbox" name="IncDate" value="1" <TMPL_IF IncDate>checked</TMPL_IF>>Weiterzählen</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3"><b>Uhrzeit</b> (optional)</td>
</tr>
<tr>
<td colspan="2"><input type="text" name="Time" value="<TMPL_VAR Time>" size="5" maxlength="5"></td>
<td><input type="Checkbox" name="KeepTime" value="1" <TMPL_IF KeepTime>checked</TMPL_IF>>Beibehalten</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3"><b>Ort</b> (optional)</td>
</tr>
<tr>
<td colspan="2"><input type="text" name="Place" value="<TMPL_VAR Place>" size="43"></td>
<td><input type="Checkbox" name="KeepPlace" value="1" <TMPL_IF KeepPlace>checked</TMPL_IF>>Beibehalten</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3"><b>Titel</b></td>
</tr>
<tr>
<td colspan="2"><input type="text" name="Title" value="<TMPL_VAR Title>" size="43"></td>
<td><input type="Checkbox" name="KeepTitle" value="1" <TMPL_IF KeepTitle>checked</TMPL_IF>>Beibehalten</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
</tr>

<tr>
<td colspan="3"><b>Beschreibung</b> (optional)</td>
</tr>
<tr>
<td colspan="2">
<textarea name="Description" rows="6" cols="43" wrap="virtual"><TMPL_VAR Description></textarea>
<span class="smallfont">
<br><b>Hinweise:</b><br>HTML ist nicht erlaubt.</span>
</td>
<td valign="top"><input type="Checkbox" name="KeepDesc" value="1" <TMPL_IF KeepDesc>checked</TMPL_IF>>Beibehalten</td>
</tr>

<tr>
<td colspan="3" align="right">
<input type="hidden" name="Action" value="Save">
<input type="submit" value="Speichern">
</td>
</tr>
</table>
</form>
