Datum	Uhrzeit	Ort	Verein	Beschreibung<TMPL_LOOP NAME=TodayDates>
<TMPL_VAR NAME=Today>	<TMPL_VAR NAME=Time>	<TMPL_VAR NAME=Place>	<TMPL_VAR NAME=Org>	<TMPL_VAR NAME=Desc></TMPL_LOOP><TMPL_LOOP NAME=NextWeekDates>
<TMPL_VAR NAME=Date>	<TMPL_VAR NAME=Time>	<TMPL_VAR NAME=Place>	<TMPL_VAR NAME=Org>	<TMPL_VAR NAME=Desc></TMPL_LOOP><TMPL_LOOP NAME=OtherDates>
<TMPL_VAR NAME=Date>	<TMPL_VAR NAME=Time>	<TMPL_VAR NAME=Place>	<TMPL_VAR NAME=Org>	<TMPL_VAR NAME=Desc></TMPL_LOOP>