<TMPL_IF Saved>
<p class="ok">
Neuer Benutzer '<TMPL_VAR Saved>' angelegt.
</p>
</TMPL_IF>

<TMPL_IF LoginError>
<p class="error">
Login-Name muß angegeben werden.
</p>
</TMPL_IF>

<TMPL_IF FullNameError>
<p class="error">
Voller Name muß angegeben werden.
</p>
</TMPL_IF>

<TMPL_IF eMailError>
<p class="error">
eMail muß angegeben werden.
</p>
</TMPL_IF>

<TMPL_IF UserExists>
<p class="error">
Der Login-Name existiert bereits.
</p>
</TMPL_IF>

<form action="index.pl" method="post">
<table align="center" border="0">
<tr valign="top">
<td>Login-Name:</td><td><input type="TEXT" name="Login" value="<TMPL_VAR NAME=Login>"></td>
<td rowspan="3" width="200">
<b>Hinweis:</b><br>
Dem neuen Benutzer wird ein zufällig genieriertes Passwort per eMail an die
angegebene Adresse geschickt. Daher ist es wichtig, daß diese auch richtig ist.
</td>
</tr>
<tr valign="top">
<td>Voller Name:</td><td><input type="TEXT" name="FullName" value="<TMPL_VAR NAME=FullName>"></td>
</tr>
<tr valign="top">
<td>eMail:</td><td><input type="TEXT" name="eMail" value="<TMPL_VAR NAME=eMail>"></td>
</tr>
</table>

<table align="center" border="0">
<tr>
<td align="left">
<br>
<b>Vereine:</b><br>
<TMPL_LOOP NAME=Orgs>
<INPUT TYPE="CHECKBOX" NAME="Orgs" VALUE="<TMPL_VAR NAME=OrgID>"<TMPL_IF NAME=Selected> checked</TMPL_IF>>&nbsp;<TMPL_VAR NAME=OrgName><!-- <TMPL_VAR eMail> <TMPL_VAR Website> --><br>
</TMPL_LOOP>
</td>
</tr>
<tr>
<td colspan="2" align="right">
<input type="hidden" name="mode" value="useradd">
<input type="SUBMIT" name="Action" value="Save"></td>
</tr>
</table>
</form>
<b><TMPL_VAR NAME=Message></b>