<tmpl_if Sent>
<p class="ok">
Passwort wurde verschickt.
</p>
<tmpl_else>
<table align="center"  width="300">
<tr>
<td>Soll wirklich für<br><b><tmpl_var UserName></b> (<tmpl_var FullName>)<br>ein
neues Passwort erzeugt und an die<br>eMail Adresse <b><tmpl_var eMail></b><br>
verschickt werden?</td>
</tr>
</table>

<center>
<a href="webeve.pl?mode=sendpasswd&Confirm=1&UserID=<TMPL_VAR NAME=UserID>"><b>Ja</b></a> |
<a href="webeve.pl?mode=userlist"><b>Nein</b></a></center>
</tmpl_if>