<TMPL_IF OldPWError>
<p class="error">Altes Passwort ist falsch!</p>
</TMPL_IF>
<TMPL_IF NewPWError>
<p class="error">Neues Passwort stimmt nicht mit Passwortwiederholung überein!</p>
</TMPL_IF>
<TMPL_IF OK>
<p class="ok">Passwort wurde erfolgreich geändert!</p>
</TMPL_IF>

<form action="index.pl" method="POST">
<table align="center" border="0">
<tr>
  <td><b>Altes Passwort:</b></td>
  <td><input type="PASSWORD" name="OldPass"></td>
</tr>
<tr align="right">
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td><b>Neues Passwort:</b></td>
  <td><input type="PASSWORD" name="NewPass1"></td>
</tr>
<tr>
  <td><b>Neues Passwort:</b><br>(Wiederholung)</td>
  <td><input type="PASSWORD" name="NewPass2"></td>
</tr>
<tr align="right">
  <td>&nbsp;</td>
  <td><input type="hidden" name="mode" value="passwd">
      <input type="hidden" name="Action" value="save">
      <input type="submit" value="Ändern"></td>
</tr>
</table>
</form>
