<h1>Existierende User:</h1>

<table>
<tr>
<td><b>Login</b></td>
<td><b>Name &amp; eMail</b></td>
<td><b>Letzter Login</b></td>
<td></td>
</tr>

<TMPL_LOOP NAME=Users>
<tr>
<td><TMPL_IF NAME=isAdmin><font color="#FF0000">@</font></TMPL_IF><TMPL_VAR NAME=UserName></td>
<td><a href="mailto:<TMPL_VAR NAME=eMail>"><b><TMPL_VAR NAME=FullName></b></a></td>
<td><TMPL_VAR NAME=LastLogin></td>
<td>
<a href="index.pl?mode=useredit&UserID=<TMPL_VAR NAME=UserID>">E</a>
<a href="index.pl?mode=sendpasswd&UserID=<TMPL_VAR NAME=UserID>">P</a>
</td>
</tr>
</TMPL_LOOP>
</table>
